<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}"></head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="~{fragments::sidebar}"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
                <div class="container-fluid py-4 mt-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="card my-4">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-dark shadow-primary border-radius-lg pt-4 pb-3 d-flex align-items-center">
                                        <h6 class="text-success text-uppercase ps-4">Add Product</h6>
                                    </div>
                                </div>
                                <div class="card-body px-0 pb-2">
                                    <form class="row mx-5 my-2" th:action="@{/save-product}" method="post"
                                          enctype="multipart/form-data" th:object="${productDto}">
                                        <div class="col-md-6">
                                            <label for="inputProductName" class="form-label">Product Name</label>
                                            <input type="text"
                                                   class="form-control border border-1 border-primary ps-3 mb-2"
                                                   id="inputProductName" th:field="*{name}" th:errorclass="is-invalid">
                                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="categories" class="form-label">Category</label>
                                            <select id="categories" th:field="*{category}" name="categories"
                                                    class="form-control border border-1 border-primary ps-3 mb-2">
                                                <option th:value="null">-SELECT-</option>
                                                <option th:each="category : ${categories}" th:value="${category.id}"
                                                        th:text="${category.name}"></option>
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <label for="inputDescription" class="form-label">Product Description</label>
                                            <textarea class="form-control border border-1 border-primary ps-3 mb-2"
                                                      id="inputDescription" th:field="*{description}" th:errorclass="is-invalid"></textarea>
                                            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"></div>

                                        </div>
                                        <div class="col-md-3">
                                            <label for="inputPrice" class="form-label">Price</label>
                                            <input type="number" min="0" value="1"
                                                   class="form-control border border-1 border-primary ps-3 mb-2"
                                                   id="inputPrice" th:field="*{costPrice}" th:errorclass="is-invalid">
                                            <div th:if="${#fields.hasErrors('costPrice')}" th:errors="*{costPrice}" class="invalid-feedback"></div>

                                        </div>
                                        <div class="col-md-3">
                                            <label for="available_quantity" class="form-label">Quantity</label>
                                            <input type="number" min="0" step="1"
                                                   class="form-control border border-1 border-primary ps-3 mb-2"
                                                   id="available_quantity" th:field="*{currentQuantity}" th:errorclass="is-invalid">
                                            <div th:if="${#fields.hasErrors('currentQuantity')}" th:errors="*{currentQuantity}" class="invalid-feedback"></div>

                                        </div>

                                        <div class="my-2 d-flex justify-content-around">
                                            <div class="col-md-2 px-0 mt-2">
                                                <img id="imgPreview" height="75px" width="100px"
                                                     style="margin-top: 20px" alt="">
                                                <input type="file" class="form-control border border-none"
                                                       name="imageProduct" multiple
                                                       onchange="previewImage('imgPreview', this)">
                                            </div>
                                            <div class="col-md-2 px-0 mt-2">
                                                <img id="imgPreview1" height="75px" width="100px"
                                                     style="margin-top: 20px" alt="">
                                                <input type="file" class="form-control border border-none"
                                                       name="imageProduct" multiple
                                                       onchange="previewImage('imgPreview1', this)">
                                            </div>
                                            <div class="col-md-2 px-0 mt-2">
                                                <img id="imgPreview2" height="75px" width="100px"
                                                     style="margin-top: 20px" alt="">
                                                <input type="file" class="form-control border border-none"
                                                       name="imageProduct" multiple
                                                       onchange="previewImage('imgPreview2', this)">
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="reset" class="btn btn-dark ">Reset</button>
                                            <a type="button" class="btn btn-danger " th:href="@{/products}">Cancel</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script>
            function previewImage(imgId, inputElement) {
                var img = document.getElementById(imgId);

                if (inputElement.files && inputElement.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        img.src = e.target.result;
                    };
                    reader.readAsDataURL(inputElement.files[0]);
                }
            }
        </script>
    </div>
</div>
</body>
</html>

