<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>
<body id="page-top">
<div id="wrapper">
    <ul th:replace="~{fragments::sidebar}"></ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <div class="container-fluid text-uppercase">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h1 class="h3 mb-0 text-gray-800">Orders</h1>
                </div>
                <br>
                <div th:if="${size == 0}">
                    <div class="alert alert-info">
                        <p>No orders yet</p>
                    </div>
                </div>
                <div th:if="${param.success}" class="alert alert-success">
                    <p th:text="${param.success}"></p>
                </div>
                <div th:if="${param.cancelled}" class="alert alert-danger">
                    <p th:text="${param.cancelled}"></p>
                </div>
                <div class="mb-3"></div>
                <table id="orderTable" class="table table-striped" th:if="${size > 0}">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Order No.</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Delivery Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order: ${orders}">
                        <th scope="row" th:text="${order.id}"></th>
                        <td th:text="${order.orderDate}"></td>
                        <td th:text="${order.deliveryDate}"></td>
                        <td th:text="${order.customer.firstName} + ' ' + ${order.customer.lastName}"></td>
                        <td>
                            <select
                                    th:unless="${order.orderStatus == 'Cancelled' or order.orderStatus == 'Delivered' or order.orderStatus == 'Returned' or order.orderStatus == 'Pending'}"
                                    id="order-status" th:data-order-id="${order.id}"
                                    onchange="submitSelection(this.getAttribute('data-order-id'))" name="orderStatus"
                                    class="form-control">
                                <option th:value="null">-SELECT</option>
                                <option th:if="${order.orderStatus == 'Confirmed'}" value="Shipped">Shipped</option>
                                <option th:if="${order.orderStatus == 'Shipped'}" value="Delivered">Delivered</option>
                            </select>
                            <p th:text="${order.orderStatus}" style="color: darkred"></p>
                        </td>
                        <td th:text="${order.totalPrice}" style="color: darkblue"></td>
                        <td th:text="${order.paymentMethod}"></td>
                        <td th:text="${order.paymentStatus}"></td>
                        <td>
                            <a th:href="@{/order-view/{id} (id=${order.id})}" class="btn btn-info btn-sm">View</a>
                            <a th:if="${order.orderStatus == 'Pending'}"
                               th:href="@{/cancel-order/{id} (id=${order.id})}"
                               onclick="return confirm('Are you sure you want to Cancel this Order?')"
                               class="btn btn-danger btn-sm">Cancel</a>
                            <a th:if="${order.orderStatus == 'Pending'}"
                               th:href="@{/accept-order/{id} (id=${order.id})}"
                               onclick="return confirm('Are you sure you want to Accept this Order?')"
                               class="btn btn-success btn-sm">Accept</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
<a th:replace="~{fragments :: scroll}"></a>
<div th:replace="~{fragments :: script}"></div>


<script src=https://code.jquery.com/jquery-3.7.1.min.js
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
</script>

<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js
        integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js
        integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

</script>
<script>
    $(document).ready(function () {
        $('#orderTable').DataTable(
            {
                order: [
                    [
                        0, 'desc'
                    ]
                ]
            }
        );
    });

    function submitSelection(orderId) {
        const select = document.getElementById("order-status").value;
        console.log("start")
        $.ajax({

            url: "/admin/get-order-status/" + orderId,
            method: "GET",

            success: function (currentStatus) {
                if (currentStatus === "Returned" && select === "Returned") {
                    alert("Order is already marked as Returned.");
                    return; // Don't proceed with the update
                }
                // Continue with the update logic
                window.location.href = "/admin/orders?status=" + select + "&orderId= " + orderId;
            },
            error: function () {
                alert("Failed to retrieve the current order status.");
            }
        });
        console.log("end")
    }
</script>
</body>
</html>
