<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="https://www.thymeleaf.org/">&ndash;&gt;-->
<!--&lt;!&ndash;<head th:replace="~{fragments::header}"></head>&ndash;&gt;-->
<!--&lt;!&ndash;<body id="page-top">&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Page Wrapper &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div id="wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; Sidebar &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <ul th:replace="~{fragments::sidebar}"></ul>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; End of Sidebar &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Content Wrapper &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <div id="content-wrapper" class="d-flex flex-column">&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Main Content &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="content">&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash; Topbar &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <nav th:replace="~{fragments::top-navbar}"></nav>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; End of Topbar &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash; Begin Page Content &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row mb-4 justify-content-between">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-8">&ndash;&gt;-->
<!--&lt;!&ndash;                        <form th:action="@{/searchProduct}" method="get" class="form-inline">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" id="product" name="product" class="form-control"  placeholder="Search Product">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button type="submit" class="btn btn-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class="fas fa-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </form>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-4 ">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a th:href="@{/add-product}" class="btn btn-success">Add Product</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                <p th:if="${size == 0} ">No Products</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <div th:if="${success}" class="text-center alert alert-success">&ndash;&gt;-->
<!--&lt;!&ndash;                    <p th:text="${success}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div th:if="${error}" class="text-center alert alert-danger">&ndash;&gt;-->
<!--&lt;!&ndash;                    <p th:text="${error}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <table class="table table-bordered" th:if="${size > 0}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <thead>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="col">S.no</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="col">Name</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="col">Category</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="col">₹ Price</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="col">Quantity</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="col">Image</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="col">Update</th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="col">Action</th>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    </thead>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr th:each="products : ${products}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <td th:text="${products.getId()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <th scope="row" th:text="${products.name}"></th>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td th:text="${products.category.name}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td th:text="${products.costPrice}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td th:text="${products.getCurrentQuantity()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="" style="height: 40px; width: 40px;"&ndash;&gt;-->
<!--&lt;!&ndash;                                 th:src="@{|/ProductImage/${products.imageUrls[0]}|}" alt="product image"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a th:href="@{/update-products/{id} (id = ${products.id})}"&ndash;&gt;-->
<!--&lt;!&ndash;                               class="btn btn-primary">Update</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a th:if="${products.activated == false}"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:href="@{/enable-product/{id} (id = ${products.id})}" class="btn btn-warning">Enable</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a th:if="${products.deleted == false}"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:href="@{/delete-product/{id} (id = ${products.id})}" class="btn btn-danger">Disable</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tbody>&ndash;&gt;-->

<!--&lt;!&ndash;                </table>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; /.container-fluid &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; End of Main Content &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;        &lt;!&ndash; Footer &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <footer th:replace="~{fragments::footer}">&ndash;&gt;-->
<!--&lt;!&ndash;        </footer>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; End of Footer &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; End of Content Wrapper &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; End of Page Wrapper &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; Scroll to Top Button&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<a th:replace="~{fragments::scroll}">&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div th:replace="~{fragments::script}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->

<!--&lt;!&ndash;</html>&ndash;&gt;-->


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/">-->
<!--<head th:replace="~{fragments::header}"></head>-->
<!--<body id="page-top">-->

<!--&lt;!&ndash; Page Wrapper &ndash;&gt;-->
<!--<div id="wrapper">-->
<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <ul th:replace="~{fragments::sidebar}"></ul>-->
<!--    &lt;!&ndash; End of Sidebar &ndash;&gt;-->

<!--    &lt;!&ndash; Content Wrapper &ndash;&gt;-->
<!--    <div id="content-wrapper" class="d-flex flex-column">-->

<!--        &lt;!&ndash; Main Content &ndash;&gt;-->
<!--        <div id="content">-->

<!--            &lt;!&ndash; Topbar &ndash;&gt;-->
<!--            <nav th:replace="~{fragments::top-navbar}"></nav>-->
<!--            &lt;!&ndash; End of Topbar &ndash;&gt;-->

<!--            &lt;!&ndash; Begin Page Content &ndash;&gt;-->
<!--            <div class="container-fluid">-->
<!--                <div class="row mb-4 justify-content-between">-->
<!--                    <div class="col-md-8">-->
<!--                        <form th:action="@{/searchProduct}" method="get" class="form-inline">-->
<!--                            <div class="input-group">-->
<!--                                <input type="text" id="product" name="product" class="form-control"-->
<!--                                       placeholder="Search Product">-->
<!--                                <div class="input-group-append">-->
<!--                                    <button type="submit" class="btn btn-primary">-->
<!--                                        <i class="fas fa-search"></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="col-md-4 ">-->
<!--                        <a th:href="@{/add-product}" class="btn btn-success">Add Product</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <form th:action="@{/products}" method="get">-->

<!--                <p th:if="${size == 0} ">No Products</p>-->
<!--                <div th:if="${param.success}" class="text-center alert alert-success">-->
<!--                    <p th:text="${param.success}"></p>-->
<!--                </div>-->
<!--                <div th:if="${param.error}" class="text-center alert alert-danger">-->
<!--                    <p th:text="${param.error}"></p>-->
<!--                </div>-->
<!--                <div th:if="${notFound}" class="mtop">-->
<!--                    <div class="alert alert-danger">Product not found!.</div>-->
<!--                </div>-->
<!--                <table class="table table-bordered text-uppercase">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th scope="col">Name</th>-->
<!--                        <th scope="col">Category</th>-->
<!--                        <th scope="col">₹ Price</th>-->
<!--                        <th scope="col">Quantity</th>-->
<!--                        <th scope="col">Image</th>-->
<!--                        <th scope="col">Update</th>-->
<!--                        <th scope="col">Action</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody class="text-uppercase">-->

<!--                    <tr th:each="product : ${products}">-->
<!--                        <th scope="row" th:text="${product.name}"></th>-->
<!--                        <td th:text="${product.category.name}"></td>-->
<!--                        <td th:text="${product.costPrice}"></td>-->
<!--                        <td th:text="${product.currentQuantity}"></td>-->
<!--                        <td>-->
<!--                            <img src="" style="height: 40px; width: 40px;"-->
<!--                                 th:src="@{|/ProductImage/${product.imageUrls[0]}|}" alt="product image"></td>-->
<!--                        <td>-->
<!--                            <a th:href="@{/update-product/{id} (id = ${product.id})}"-->
<!--                               class="btn btn-primary">Update</a>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <a th:if="${product.activated == false}"-->
<!--                               th:href="@{/enable-product/{id} (id = ${product.id})}"-->
<!--                               class="btn btn-warning">Enable</a>-->
<!--                            <a th:if="${product.deleted == false}"-->
<!--                               th:href="@{/delete-product/{id} (id = ${product.id})}"-->
<!--                               class="btn btn-danger">Disable</a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <footer th:replace="~{fragments::footer}"></footer>-->
<!--    </div>-->
<!--</div>-->
<!--<a th:replace="~{fragments::scroll}"></a>-->
<!--<div th:replace="~{fragments::script}"></div>-->
<!--</body>-->

<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row mb-4 justify-content-between">
<!--                    <div class="col-md-8">-->
<!--                        <form th:action="@{/searchProduct}" method="get" class="form-inline">-->
<!--                            <div class="input-group">-->
<!--                                <input type="text" id="product" name="product" class="form-control"-->
<!--                                       placeholder="Search Product">-->
<!--                                <div class="input-group-append">-->
<!--                                    <button type="submit" class="btn btn-primary">-->
<!--                                        <i class="fas fa-search"></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
                    <div class="col-md-4 ">
                        <a th:href="@{/add-product}" class="btn btn-success">Add Product</a>
                    </div>
                </div>
                <form th:action="@{/products}" method="get">

                    <p th:if="${size == 0} ">No Products</p>
                    <div th:if="${param.success}" class="text-center alert alert-success">
                        <p th:text="${param.success}"></p>
                    </div>
                    <div th:if="${param.error}" class="text-center alert alert-danger">
                        <p th:text="${param.error}"></p>
                    </div>
                    <div th:if="${notFound}" class="mtop">
                        <div class="alert alert-danger">Product not found!.</div>
                    </div>
                    <table class="table table-bordered text-uppercase" id="myTable">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">₹ Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Image</th>
                            <th scope="col">Update</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody class="text-uppercase">

                        <tr th:each="product : ${products}">
                            <th scope="row" th:text="${product.name}"></th>
                            <td th:text="${product.category.name}"></td>
                            <td th:text="${product.costPrice}"></td>
                            <td th:text="${product.currentQuantity}"></td>
                            <td>
                                <img src="" style="height: 40px; width: 40px;"
                                     th:src="@{|/ProductImage/${product.imageUrls[0]}|}" alt="product image"></td>
                            <td>
                                <a th:href="@{/update-product/{id} (id = ${product.id})}"
                                   class="btn btn-primary">Update</a>
                            </td>
                            <td>
                                <a th:if="${product.activated == false}"
                                   th:href="@{/enable-product/{id} (id = ${product.id})}"
                                   class="btn btn-warning">Enable</a>
                                <a th:if="${product.deleted == false}"
                                   th:href="@{/delete-product/{id} (id = ${product.id})}"
                                   class="btn btn-danger">Disable</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <footer th:replace="~{fragments::footer}"></footer>
    </div>
</div>
<a th:replace="~{fragments::scroll}"></a>
<div th:replace="~{fragments::script}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "paging": true,
            "pageLength": 5,
            "lengthMenu": [10, 25, 50, 75, 100]
        });
    });
</script>
</body>
</html>
