<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row mb-4 justify-content-between">
<!--                    <div class="col-md-8">-->
<!--                        <form th:action="@{/searchProduct}" method="get" class="form-inline">-->
<!--                            <div class="input-group">-->
<!--                                <input type="text" id="product" name="product" class="form-control"-->
<!--                                       placeholder="Search Product">-->
<!--                                <div class="input-group-append">-->
<!--                                    <button type="submit" class="btn btn-primary">-->
<!--                                        <i class="fas fa-search"></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
                    <div class="col-md-4 ">
                        <a th:href="@{/add-product}" class="btn btn-success">Add Product</a>
                    </div>
                </div>
                <form th:action="@{/products}" method="get">

                    <p th:if="${size == 0} ">No Products</p>
                    <div th:if="${param.success}" class="text-center alert alert-success">
                        <p th:text="${param.success}"></p>
                    </div>
                    <div th:if="${param.error}" class="text-center alert alert-danger">
                        <p th:text="${param.error}"></p>
                    </div>
                    <div th:if="${notFound}" class="mtop">
                        <div class="alert alert-danger">Product not found!.</div>
                    </div>
                    <table class="table table-bordered text-uppercase" id="myTable">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">₹ Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Image</th>
                            <th scope="col">Update</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody class="text-uppercase">

                        <tr th:each="product : ${products}">
                            <th scope="row" th:text="${product.name}"></th>
                            <td th:text="${product.category.name}"></td>
                            <td th:text="${product.costPrice}"></td>
                            <td th:text="${product.currentQuantity}"></td>
                            <td>
                                <img src="" style="height: 40px; width: 40px;"
                                     th:src="'/admin/ProductImage/' + ${product.imageUrls[0]}" alt="product image">
                            </td>
                            <!--                                     th:src="@{|/ProductImage/${product.imageUrls[0]}|}" alt="product image"></td>-->

                            <td>
                                <a th:href="@{/update-product/{id} (id = ${product.id})}"
                                   class="btn btn-primary">Update</a>
                            </td>
                            <td>
                                <a th:if="${product.activated == false}"
                                   th:href="@{/enable-product/{id} (id = ${product.id})}"
                                   class="btn btn-warning">Enable</a>
                                <a th:if="${product.deleted == false}"
                                   th:href="@{/delete-product/{id} (id = ${product.id})}"
                                   class="btn btn-danger">Disable</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <footer th:replace="~{fragments::footer}"></footer>
    </div>
</div>
<a th:replace="~{fragments::scroll}"></a>
<div th:replace="~{fragments::script}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#myTable').DataTable({
            "paging": true,
            "pageLength": 5,
            "lengthMenu": [10, 25, 50, 75, 100]
        });
    });
</script>
</body>
</html>
