<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: html_head}"></head>
<body class="animsition">
<header th:replace="~{fragments :: header_top}"></header>
<section class="section-slide mt-5 text-uppercase">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-5">
                    <div class="card-body">
                        <div th:object="${customer}">
                            <div class="text-center mb-4">
                                <h3 class="text-dark">
                                    <strong>User Profile</strong>
                                </h3>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary"
                                     th:text="${customer.firstName + ' ' + customer.lastName}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="${customer.username}">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" th:text="${customer.phoneNumber}">
                                </div>
                            </div>
                            <hr>
                            <div class="row" th:each="address : ${addresses}">
                                <div class="col-sm-3">
                                    <h6 class="mb-0" th:text="'adddress'"></h6>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    <address
                                            th:utext="${address.addressLine1 + ', ' + address.addressLine2 + ', ' + address.city + ', ' + address.pincode + ', ' + address.district + ', ' + address.state + ', ' + address.country}"></address>
                                    <hr>
                                </div>
                                    <div class="col-sm-2 text-secondary">
                                        <a th:href="@{'/edit-address/' + ${address.id}}"
                                           class="edit-link zmdi zmdi-edit btn-outline-dark"></a>
                                            <a th:href="@{'/delete-address/'+ ${address.id}}"
                                               class="edit-link zmdi zmdi-delete btn-outline-dark"></a>
                                    </div>
                            </div>

                            <div class="text-center mb-4">
                                <a th:href="@{add-address}" id="dialog-link" class="btn btn-dark btn-sm">
                                    <i class="fa fa-map-marker"></i> New Address
                                </a>
                            </div>
                            <hr>
                            <div style="background-color: #f7f7f7; border: 1px solid #ddd; padding: 15px; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                                <h5 class="text-center text-dark mb-3">My Referral Code</h5>
                                <p class="text-center">
                                    <span id="referralCode" th:text="${customer.referralCode}"
                                          style="font-size: 24px; color: #007bff; font-weight: bold;"></span>
                                </p>
                                <div class="form-group text-center">
                                    <input type="email" id="emailAddress" class="form-control"
                                           placeholder="Recipient's Email Address">
                                    <button type="button" class="btn btn-dark mt-2" id="shareViaEmailButton"
                                            onclick="shareViaEmail()">
                                        Share Referral Code via Email
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer th:replace="~{fragments :: footer_sec}"></footer>
<div th:replace="~{fragments :: script}"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>
    function shareViaEmail() {
        var referralCode = document.getElementById("referralCode").textContent;
        var emailAddress = document.getElementById("emailAddress").value;
        if (!emailAddress) {
            alert("Please enter a recipient's email address.");
            return;
        }
        console.log("Referral Code: " + referralCode);
        console.log("Email Address: " + emailAddress);
        $.ajax({
            type: "POST",
            url: "/user/shareReferral",
            data: {
                referralCode: referralCode,
                emailAddress: emailAddress
            },
            success: function (response) {
                console.log("AJAX request successful.");
                if (response === "success") {
                    alert("Referral code shared successfully.");
                } else {
                    alert("Failed to share the referral code.");
                }
            },
            error: function (xhr, status, error) {
                console.error("An error occurred while sharing the referral code: " + error);
                alert("An error occurred while sharing the referral code.");
            }
        });
    }
</script>
<script>
    $("#dialog").dialog({
        autoOpen: false,
        width: 400,
        buttons: [
            {
                text: "Ok",
                click: function () {
                    $(this).dialog("close");
                }
            },
            {
                text: "Cancel",
                click: function () {
                    $(this).dialog("close");
                }
            }
        ]
    });
</script>
</body>
</html>