<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: html_head}"></head>
<body class="animsition">
<!-- Header -->
<header th:replace="~{fragments :: header_top}"></header>

<div class="px-4 py-5 px-md-5 text-center text-lg-start ">
    <div class="container pz-5 mt-5 ">
        <div class="row gx-lg-5  align-items-center ">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <h1>FORGET PASSWORD</h1>
                        <hr>
                        <th:block th:if="${session.msg}">
                            <p class="text-center fs-4 text-success">[[${session.msg}]]</p>
                        </th:block>
                        <form method="post"  th:action="@{/forgot-password}" th:object="${username}">
                        <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="username" th:field="*{username}" name="email" class="form-control" required="required" autofocus="autofocus" value="100"/>
                                <label class="form-label">Email address</label>

                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-success btn-block mb-4">
                                Change Password
                            </button>
                            <div class="d-flex justify-content-between">
                                <div class="login_footer form-group">
                                    <a class="text-muted" th:href="@{/login}">Already have an account?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer th:replace="~{fragments :: footer_sec}"></footer>


<div th:replace="~{fragments :: script}"></div>

</body>
</html>