<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: html_head}"></head>
<body class="animsition">
<!-- Header -->
<header th:replace="~{fragments :: header_top}"></header>

<section  class="px-4 py-5 px-md-5 text-lg-start">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">OTP Verification</h3>
                                </div>
                                <div th:if="${param.error}">
                                    <div class="alert alert-danger">OTP entered is incorrect.Please Enter Correct OTP.
                                    </div>
                                </div>
                                <div>
                                    <form method="post" th:action="@{/forgot-password/otpVerification}"
                                          th:object="${data}">
                                        <div class="form-group">
                                            <label class="control-label" placeholder="Enter your OTP">
                                            </label>
                                            <input id="username" hidden="hidden" class="form-control"
                                                   th:value="*{username}" th:field="*{username}" required
                                                   autofocus="autofocus"/>
                                            <input id="otp" class="form-control" th:field="*{otp}" required
                                                   autofocus="autofocus"/>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>

                                            <div id="otp-timer"></div>
                                            <span><a th:href="@{/login}">Go back to Login</a></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer th:replace="~{fragments :: footer_sec}"></footer>


<div th:replace="~{fragments::script}"></div>

<script th:inline="javascript">
    // Get the OTP expiry duration in milliseconds from the server-side
    let otpExpiryDuration = 300000; // Example: 5 minutes in milliseconds

    // Get the OTP generation time in milliseconds from the server-side
    let otpGenerationTime = [[${otpGenerationTime}]];


    // Update the countdown every second
    let countdownInterval = setInterval(function () {
      let currentTime = new Date().getTime();
      let timeRemaining = otpGenerationTime + otpExpiryDuration - currentTime;

        // Calculate minutes and seconds
      let minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
      let seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        // Display the timer
        document.getElementById("otp-timer").innerHTML = "Time remaining: " + minutes + "m " + seconds + "s ";

        // If the timer reaches zero, handle as needed
        if (timeRemaining <= 0) {
            clearInterval(countdownInterval);
            // Handle OTP expiration (e.g., display an error message)
            document.getElementById("otp-timer").innerHTML = "OTP has expired. Please request a new OTP.";
            // Optionally, you can redirect the user to the registration page or handle the expiration in another way
        }
    }, 1000);
</script>

</body>
</html>