<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: html_head}"></head>
<body class="animsition">
<!-- Header -->
<header th:replace="~{fragments :: header_top}"></header>

<section class="px-4 py-5 px-md-5 text-lg-start">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Enter your New Password</h3>
                                </div>
                                <div>
                                    <form method="post"  th:action="@{/passwordResetPage}" th:object="${customerDto}">

                                        <div class="form-group">
                                            <label class="control-label" placeholder="Enter your Username/EMail">
                                            </label>
                                            <input id="username" hidden="true" class="form-control" th:field="*{username}" th:value="*{username}" required="required" autofocus="autofocus" value="100"/>
                                            <div>
                                                <input id="password" placeholder="Enter your new password" class="form-control" th:field="*{password}" required="required" autofocus="autofocus" value="100"/>
                                                <br>
                                                <input id="repeatPassword" placeholder="Repeat your new password" class="form-control" th:field="*{repeatPassword}" required="required" autofocus="autofocus" value="100"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" >
                                                Submit </button>
                                            <span><a th:href="@{/login}">Go back to Login</a></span>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer th:replace="~{fragments :: footer_sec}"></footer>


<div th:replace="~{fragments :: script}"></div>
</body>
</html>