<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: html_head}"></head>
<body class="animsition">
<!-- Header -->
<header th:replace="~{fragments :: header_top}"></header>

<div class="px-4 py-5 px-md-5 text-center text-lg-start ">
    <div class="container pz-5 mt-5 ">
        <div class="row gx-lg-5  align-items-center ">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <h1>RESET PASSWORD</h1>
                        <hr>
                        <form method="POST" th:action="@{/loadResetPassword/{id}}">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="password" name="password" class="form-control" required/>
                                <label class="form-label">Enter the password</label>

                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" name="password" class="form-control" required/>
                                <label class="form-label">Re-Enter the password</label>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-success btn-block mb-4">
                                Sign in
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer th:replace="~{fragments :: footer_sec}"></footer>


<div th:replace="~{fragments :: script}"></div>

</body>
</html>